/* ヘッダーに対応するCSS */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 5rem;

  background-color: orange;
}

.leftArea{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightArea{

}
