/* 飲食店に対応するCSS */

.shops {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.shop {
  margin: 0 1rem;
  padding: 1rem;
  background-color: burlywood;
  
}
.shopList{
  width: calc((100% - 2rem) / 3);
}
.name {
  font-size: 2rem;
}