/* 口コミに対応するCSS */
.reviews{
  display: flex;
}

.column{
  flex-direction: column;
  height: calc(100vh - 15rem);
  overflow-y: auto;
}

.row{
  flex-wrap: wrap;
}
.review{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  background-color: burlywood;
  width: calc((100vw - 12rem)/ 4);
}

.shopName{
  font-size: 2rem;
}
