/* 口コミに対応するCSS */
.reviews{
  display: flex;
}

.column{
  flex-direction: column;
  height: calc(100vh - 15rem);
  overflow-y: auto;
}

.review{
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  background-color: burlywood;
}

.shopName{
  font-size: 2rem;
}
